$rich-black-fogra-29: #001219ff;
$blue-sapphire: #005f73ff;
$viridian-green: #0a9396ff;
$middle-blue-green: #94d2bdff;
$medium-champagne: #e9d8a6ff;
$gamboge: #ee9b00ff;
$alloy-orange: #ca6702ff;
$mahogany: #bb3e03ff;
$rufous: #ae2012ff;
$ruby-red: #9b2226ff;
